@{
  Layout = "_Layout";
}
@using PackerTracker.Models
<h1>Packer Tracker</h1>
@{foreach (Item item in Item.GetAll())
{
  <h4>@item.Name</h4>
  <ul>
    <li>Bought?: @item.Bought</li>
    <li>Packed?: @item.Packed</li>
    <li>Price?: @item.Price</li>
  </ul>
}}
<div class="footer">
  <a href="/">Return To Home</a>
</div>