@{
  Layout = "_Layout";
}
@using PackerTracker.Models
<h1>@Model.Name</h1>
<ul>
  <li>Bought?: @Model.Bought</li>
  <li>Packed?: @Model.Packed</li>
  <li>Price?: @Model.Price</li>
</ul>

<div class="footer">
  <a href="/items">Return To List</a>
</div>